/*GENERAL CSS*/
.cwidth{max-width:1080px; margin:0 auto;}
header,footer{background:#002642;}
header{margin-bottom:50px;}
footer{margin-top:50px;}
header,footer {
	padding:1em;
	font-family:Arial,sans-serif;
	text-transform:uppercase;
	color:#fff;
	}
footer {
	text-align:center;
}
#school_name {
	position:relative;
	margin-left:4em;
}
#XmenLogo_header {
	max-width:95px;
	max-height:auto;
	position:absolute;
}
#XmenLogo_footer {
	max-width:40px;
	max-height:auto;
	margin-bottom:1em;
}
body {
	font-family:Arial,sans-serif;
}
#copyright {
	font-size:0.5em;
}
/*CSS FOR TABLE-LIKE STYLING*/
#students_result {width:100%;}
.listitem {background:#fefefe; padding: 12px 5%; width:90%; overflow:hidden;}
.listitem:after{clear:both;}
.listitem:nth-child(2n){background:#91b1c9;}
.listitem:hover {background: #D190A9; color:#e5dada}
.listitem a {color:#002642;}
.listitem a:visited {color:#840032;}
.listitem a:hover {color:#e5dada;}
.listitem a:active {color:#e5dada;}
.col4, .col4last{float:left; width:21.73%; margin-right:4.34%;}
.col4last{margin-right:0%;}
.search_name {
	text-transform:uppercase;
	font-size:0.9em;
	font-weight:bold;
}
.search_box {
	float:right;
	padding:1em;
}
.button {
	background:#002642;
	padding:0.5em;
	color:#e5dada;
	border-radius:10px 10px;
	margin-top:1em;
}
.button:active {
	background:#840032;
}
.list_titles {
	text-transform:uppercase;
	font-size:1.5em;
}
.show_table {
	background:#d190a9;
	padding:1em;
	color:#002642;
	border-radius:10px 10px;
	margin-bottom:1em;
}
.edit_table {
	background:#d190a9;
	padding:1em;
	color:#002642;
	border-radius:10px 10px;
	height:auto;
	margin-bottom:1em;
}
.details_title {
	padding-bottom: 1em;
}
.details_name {
	font-weight:bold;
	margin-bottom:0;
}
.details_results {
	font-weight:normal;
}
.details_title, .details_name {
	margin-left:4em;
}
.LogIn_table {
	background:#d190a9;
	padding:1em;
	color:#002642;
	border-radius:10px 10px;
	max-width:400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.login_titles, .login_text {
	margin-bottom:1em;
}
.picture_col {
	position:relative;
    display:inline-block;
	float:right;
	margin-top:3em;
	margin-right:5em;
}
.profile_picture {
	max-width:250px;
	max-height:auto;
	text-align:center;
}
.studentedit_text, .register_text, .teacheredit_text {
	margin-bottom:3em;
	font-size:1em;
}
.form {
	background:#d190a9;
	padding:1em;
	color:#002642;
	border-radius:10px 10px;
	max-width:auto;
}
a {
  color:orange;
  text-decoration:none;
}
a:visited {
  color:#e59500;
}
a:hover {
  color:#840032;
}
a:active {
  color:#e5dada;
}
.listnav {
	margin-left:28em;
}
.listnav li {
	text-decoration:none;
	display:inline-block;
	margin-right:5em;
	margin-top:2em;
	}
.listnav li:last-child {
	margin-right:0;
}
.listnavfooter li {
	text-decoration:none;
	display:inline-block;
	margin-right:5em;
	font-size:0.5em;
	}
